@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bid-color: rgb(34, 197, 94);
  --ask-color: rgb(239, 68, 68);
  --bid-bg: rgba(34, 197, 94, 0.1);
  --ask-bg: rgba(239, 68, 68, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-zinc-700;
  }
}
